
<div class="card">
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table mat-table [dataSource]="tasks" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef></th>
          <td [style.background-color]="getTaskColor(element)"  class="color" mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell class="mb-0 text-sm num" [class.completed]="element.completed"
              *matCellDef="let element">{{element.id + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell class = "name" *matHeaderCellDef>Name</th>
          <td mat-cell class="mb-0 text-sm name" [class.completed]="element.completed"
              *matCellDef="let element">{{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell [class.novalue]="element.priority==null" class="mb-0 text-sm priority"
              [class.completed]="element.completed"
              *matCellDef="let element">{{element.priority != null ? element.priority?.title : "Нет приоритета"}}
            <div class="progress">
              <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td [class.novalue]="element.category==null" mat-cell class="mb-0 text-sm category"
              [class.completed]="element.completed"
              *matCellDef="let element">{{element.category != null ? element.category?.title : "Без категории" }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>date</th>
          <td mat-cell class="mb-0 text-sm date" [class.novalue]="element.date==null" [class.completed]="element.completed"
              *matCellDef="let element">{{element.date != null ? (element.date | date:'short') : "Без даты" }}</td>
        </ng-container>

        <ng-container matColumnDef="done">
          <th mat-header-cell *matHeaderCellDef>done</th>
          <td mat-cell class="mb-0 text-sm" [class.completed]="element.completed" *matCellDef="let element">
            <input class="mb-0 text-sm done" type="checkbox" value="" [checked]="element.completed"
                   (click)="taskComplete(element)">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>

      <div>
        <h3>
          Click Log
        </h3>
      </div>

      <div *ngIf="!clickedRows.size">
        Clicked rows will be logged here
      </div>

      <ul>
        <li *ngFor="let clickedRow of clickedRows">
          Clicked on {{clickedRow.name}}
        </li>
      </ul>
    </div>
  </div>
</div>


